{
    "extends": "react-app",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "max-len": [
            "error",
            140
        ],
        "indent": "off",
        "flowtype/define-flow-type": 1,
        "flowtype/delimiter-dangle": [
            2,
            "only-multiline"
        ]
    },
    "globals": {
        "__DEV__": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}